*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

.text-c{
    color: #0c616b;
}


.main{
    width: 100%;
    height: auto;
    float: left;
}
.menu{
    width: 100%;
    height: auto;
    float: left;
}
.menu .nav-item{
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bold;
}
@media(max-width:649px){
    .main-logo{
        width: 110px;
        height: 90px;       
    }  
}

.contact-info{
    width: 100%;
    height: auto;
    float: left;
    background-color: #0c616b;
}
.con-img{
    width: 60px;
    height: 60px;
}
.contact-info .border-left-right{
    border-left: 1px solid white;
    border-right: 1px solid white;
}

@media(max-width:649px){
    .contact-info .border-left-right{
       border: none;
    }
}
/* Slider  */

.slider-area{
    width: 100%;
    float: left;
    height: auto;
}
@media(max-width:649px){
  
    .carousel-item img {
        height: 250px; /* Mobile image height adjustment */
        object-fit: contain; /* Ensure images fit within the container */
      }
    
      .carousel-item {
        height: 250px; 
      }
}


.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow-x: hidden; 
}
  

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
  
.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover; 
}
  

 


/* About Us  */
.about-us{
    width: 100%;
    height: auto;
    float: left;
}

.small-img{
    width: 100px;
    height: 100px;
}


/* Our Services  */


.card .card-title:hover{
    color: #134e87;
}
